.container
  .team#js-team-data{data: {team_id: @team.id}}
    .team_top
      .team_image
        = image_tag @team.image if @team.image.attached?
      - if user_signed_in? && current_user.has_made?(@team)
        .team_setting
          = image_tag 'setting', size: '25x25'
          .team_setting_change.hidden
            = link_to '編集する', edit_team_path(@team)
            = link_to '削除する', team_path(@team), data: { method: :delete, confirm: '本当に削除しますか?' }
      - elsif user_signed_in?
        .team_star.hidden.active-star{id: "active-star#{@team.id}", data: {team_id: @team.id}}
          = image_tag 'star-yellow.png', size: '25x25'
        .team_star.hidden.in-active-star{id: "in-active-star#{@team.id}", data: {team_id: @team.id}}
          = image_tag 'star-white.png', size: '25x25'
      .team_name
        %p= @team.team_name
    .team_center
      .team_center_icon
        - @team.users.each do |user|
          = link_to (image_tag(user.icon_image)), profile_path(user.id)
    .team_under
      .team_introduction
        %p= @team.introduction
    .detail
      .detail_update
        %p 最終更新
        %p= l @team.updated_at, format: :short

      .detail_category
        %p カテゴリー
        %p= @team.category.name

      .detail_age_limit
        %p 年齢制限
        %p= '30歳'

      .detail_gender_limit
        %p 性別制限
        %p= '制限なし'

      .detail_period_limit
        %p 目標期間
        %p= @team.period.name

      .star
        .star_count
          現在２人がお気に入りしています。
        .star_status
          いいねボタンを配置
  - if user_signed_in?
    - unless current_user.has_made?(@team)
      = form_with(url: team_team_users_path(@team), local: true) do |f|
        = f.submit "このチームに参加する！", class: 'btn-primary'
        = f.hidden_field 'team[user_ids][]', value: current_user.id
    - else
      = link_to '仲間と会話を始めよう！', team_chats_path(@team), class: 'join_team'

  .comment-list
    %h2.comment-header
      %i.far.fa-comments コメント
    .comments-container

    .btn-comment.show-comment-form
      %i.far.fa-comments コメントを書く
    .comment-text-area.hidden
      = text_area_tag :comment_content, '', class: 'sm'
      .btn-comment.add-comment-button
        コメントを投稿する