.container
  .team
    .team_top
      .team_image
        = image_tag @team.image if @team.image.attached?
      - if user_signed_in? && current_user.has_made?(@team)
        .team_setting#set
          = image_tag 'setting', size: '25x25'
          .team_setting_change.hidden#set-list
            = link_to '編集する', edit_team_path(@team)
            = link_to '削除する', team_path(@team), data: { method: :delete, confirm: '本当に削除しますか?' }
      - elsif user_signed_in?
        .team_star
          = image_tag 'star-white.png', size: '25x25'
      .team_name
        %p= @team.team_name
    .team_under
      .team_introduction
        %p= @team.introduction
    .detail
      .detail_update
        %p 最終更新
        %p= l @team.updated_at, format: :short

      .detail_category
        %p カテゴリー
        %p= @team.category.name

      .detail_age_limit
        %p 年齢制限
        %p= '30歳'

      .detail_gender_limit
        %p 性別制限
        %p= '制限なし'

      .detail_period_limit
        %p 目標期間
        %p= @team.period.name

      .star
        .star_count
          現在２人がお気に入りしています。
        .star_status
          いいねボタンを配置

  .btn
    %input(type="submit" class='btn-primary' value='このチームに参加する！')/
