.container
  .profilePage
    .profilePage_user
      .profilePage_user_image
        = image_tag current_user.icon_image
      - if @user.present?
        .profilePage_user_info
          .profilePage_user_name
            %P= "【ニックネーム】"
            %p=  @nickname
          .profilePage_user_birthday
            %p= "【年齢】"
            %p=  @user.age
          .profilePage_user_gender
            %p= "【性別】"
            %p= I18n.t("enum.genders.#{@gender}")
    .profilePage_user_actionButton
      - if user_signed_in? && current_user == @user
        = link_to '編集する', edit_profile_path
    - if @user.present?
      .profilePage_user_bio
        %p= '自己紹介'
        %p=  @bio

    - @user.teams.each do |team|
      = render 'commons/teams', teams: team