.chat
  .chat_left
    .chat_left_icon
      = image_tag(chat.user.icon_image)
  .chat_right
    .chat_top
      .chat_user_name #{chat.nickname.nickname}
      .chat_time #{l chat.created_at, format: :short}
    .chat_under
      .chat_content
        %p= chat.content
        = image_tag chat.photo, class: 'chat_image' if chat.photo.attached?