.container
  .chat_header
    = @team.team_name
  .error-alert
    %ul
      - @chat.errors.full_messages.each do |message|
        %li.error-message= message
  .chats
    = render partial: 'chat', collection: @chats
  .mychat_image

  = form_with(model: [@team, @chat], class: 'form', local: true) do |f|
    .form-input
      %label.form-image
        = image_tag 'photo.png'
        #{f.file_field :photo, class: 'hidden'}
      = f.text_field :content, class: 'form-chat', placeholder: 'Aa'

    = f.submit "送信", class: 'form-submit'
