.container
  .chat_header
    = @team.team_name
  .error-alert
    %ul
      - @chat.errors.full_messages.each do |message|
        %li.error-message= message


  .chats#chats{"data-team_id": "#{@team.id}"}
    = render @chats
  .mychat_image

  .form
    .form-input
      %label.form-image
        = image_tag 'photo.png'
        %input{type: "file", class: 'hidden', name: 'photo', id: 'chat_photo'}/
      = text_field_tag :content, nil, class: 'form-chat',placeholder: 'Aa'
      %input{type: 'submit', class: 'form-submit'}