.footer_menu
  .footer_item
    = link_to timeline_path do
      %i.fas.fa-home{class: "#{add_active_class(timeline_path)}"}
  .footer_item
    = link_to root_path do
      %i.fas.fa-search{class: "#{add_active_class(root_path)}"}
  .footer_item
    = link_to new_team_path do
      %i.far.fa-plus-square{class: "#{add_active_class(new_team_path)}"}
  .footer_item
    = link_to favorites_path do
      %i.far.fa-heart{class: "#{add_active_class(favorites_path)}"}
  .footer_item
    = link_to profile_path do
      %i.far.fa-user-circle{class: "#{add_active_class(profile_path)}"}