.footer_menu

  = link_to root_path do
    %i.fas.fa-home

  = link_to root_path do
    %i.fas.fa-search

  = link_to new_team_path do
    %i.far.fa-plus-square

  = link_to favorites_path do
    %i.far.fa-heart

  = link_to profile_path do
    %i.far.fa-user-circle