.container
  = form_with(model: @team, url: url, method: method, local: true) do |f|
    = render 'commons/error_messages', model: f.object
    .image_container
      %div
        = f.label :image, 'ヘッダー画像'
      %div
        = f.file_field :image, id: 'team_image'
      .image_list
        = image_tag @team.image, id: 'image' if @team.image.present?

    %div
      = f.label :category_id, 'カテゴリー'
    %div
      = f.collection_select(:category_id, Category.all, :id, :name, {}, {class:"select-box", id:"category"})
    
    %div
      = f.label :team_name, 'チーム名'
    %div
      = f.text_field :team_name, class: 'text', placeholder: '早起きして、人生を充実！！'
    
    %div
      = f.label :period_id, '目標期間'
    %div
      = f.collection_select(:period_id, Period.all, :id, :name, {}, {class:"select-box", id:"period"})

    %div
      = f.label :name, 'タグ'
    %div
      = f.text_field :name, placeholder:"複数つけるには','で区切ってください。 (例 初心者歓迎 朝活)", class: 'text', value: @tag

    #search-result

    %div
      = f.label :introduction, 'チームの説明文'
    %div
      = f.text_area :introduction, placeholder: 'みんなで仲良くやっていきましょう！！毎日楽しくをモットーにしているチームです！'

    %input{name: "teams_tag[user_id]", type: "hidden", value: "#{current_user.id}"}/
    = f.submit 'このルールでこれから頑張る！', class: 'btn-primary'
