.team
  = link_to team_path(teams) do
    .team_top
      .team_image
        = image_tag teams.image
      .team_star
        = image_tag 'star-white.png', size: '25x25'
      .team_name
        %p= teams.team_name
    .team_under
      .team_introduction
        %p= teams.introduction