.container
  .account_page
    .account_page__header
      %h2 Hello! NewMe
    = form_with model: @user, url: user_session_path, local: true do |f|
      = render 'commons/error_messages', model: f.object
      %div
        = f.label :email, 'Email'
      %div
        = f.email_field :email, autofocus: true, class: 'text'
      %div      
        = f.label :password, 'Password'
      %div
        = f.password_field :password, autocomplete: "off", class: 'text'
      = f.submit "LOGIN", class: 'btn-primary'
    
    = render 'devise/shared/footer'